html {
    scroll-behavior: smooth;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}


body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f6f8f4;
    color: #333;
}

.navbar {
    background-color: #ecf6e8cb;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 100%;
}

.navbar li {
    margin: 0 15px;
}

.navbar ul {
    display: flex;
    justify-content: right;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    font-weight: 500;
    border-radius: 20px;
    transition: background 0.3s;
}

.navbar a.active,
.navbar a:hover {
    background-color: #f50057;
    color: #ffffff;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 100px;
    background: url(https://cdn.pixabay.com/photo/2023/11/05/15/37/ai-generated-8367652_1280.jpg);
    border-radius: 20px;
}

.intro-text {
    max-width: 600px;
}

.hello {
    display: inline-block;
    background-color: #ffffff;
    color: #f50057;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}

h1 {
    font-size: 3em;
    margin: 10px 0;
    color: #fff;
}

.highlight {
    color: #f50057;
}

p {
    font-family: 'Poppins', sans-serif;

    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fdfdfd;
}



.hero-image img {
    width: 350px;
    border-radius: 100px;
}

.media {
    text-align: left;
    margin: 20px 0;
    font-size: 30px;
    padding: 10px 10px;

}

.ig {
    color: #f04a5d;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

.github {
    color: #5f70f0;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

.facbook {
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;

}

.about {
    padding: 100px 20px;
    background-color: #ecf7f2d6;
    box-shadow: 1px 5px 120px #9ea19c;
    border-radius: 20px;

}

.about-container {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin: 0 auto;
    gap: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 100px #c4efe6;
}

.about-img img {
    margin-top: 50px;
    width: 300px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(53, 53, 53, 0.1);
}

.about-text {
    max-width: 600px;
}

.about-text h2 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.about-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #524f4f;
    line-height: 1.6;

}

.about-text li {
    color: #524f4f;
    font-size: 18px;
    padding: 5px 5px;
    list-style: none;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.skill {
    text-align: center;
    padding: 100px 20px;
    border-radius: 20px;
    box-shadow: 1px 5px 120px #9ea19c;
}

.skill-conten h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.skill-slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding-bottom: 20px;
    scrollbar-width: none;
    /* Firefox */
}

.skill-slider::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
}

.skill-item {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 180px;
    background: white;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


/* 

.skill-list {
    width: 100%;
    gap: 10px;
    overflow: hidden;
    display: flex;
    padding: 5px;
    border-radius: 10px;
    height: var(--height);
    margin: 0px;
    background-color: #ecf7f2d6;
    box-shadow: 0 4px 100px #cbf8ee
} */

.skill-list p {
    color: #333;
    font-weight: bold;
    font-size: 20px;
}

.skill-html i,
.skill-css i,
.skill-java i,
.skill-python i,
.skill-3D i,
.skill-sql i {
    font-size: 60px;
}


.skill-html {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 180px;
    background: white;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    color: #f57044;
    font-size: 50px;
}

.skill-css {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 180px;
    background: white;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    color: #264de4;
    font-size: 50px;
}

.skill-java {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 180px;
    background: white;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    color: #f89820;
    font-size: 50px;
}

.skill-python {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 180px;
    background: white;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    color: #3776ab;
    font-size: 50px;
}

.skill-3D {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 180px;
    background: white;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    color: #ff7f50;
    font-size: 50px;
}

.skill-sql {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 180px;
    background: white;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    color: #508dff;
    font-size: 40px;
}

/* 
.skill-laravel {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 180px;
    background: white;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    color: #ff2d20;
    font-size: 50px;
} */


.certificate {
    margin-top: 60px;
    padding: 20px;
    text-align: center;
}

.certificate-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.certificate-item {
    background: white;
    border-radius: 12px;
    padding: 15px;
    width: 250px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    text-align: center;
}

.certificate-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    object-fit: cover;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.certificate-item p {
    font-weight: bold;
    color: #333;
    font-size: 14px;
}

.projek {
    padding: 100px 20px;
    background-color: #e4f7efd6;
    border-radius: 20px;
    box-shadow: 1px 5px 120px #9ea19c;

}

.prokek-container {
    display: block;
    justify-content: center;
    border-radius: 5px;
    margin: 0 auto;
    gap: 40px;
    box-shadow: 0 4px 100px #0c6d58;
}

.projek-img img {
    margin-top: 10px;
    margin-left: 20px;
    width: 500px;
    height: auto;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 5px 12px 12px rgba(234, 241, 237, 0.1);
}

.projek-text h2 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.projek-text {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.projek-img p {
    text-align: left;
    color: #767575;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);

}

.projek p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.download {
    display: flex;
    background-color: #ed7e8b;
    color: #fff;
    margin: auto;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.download:hover {
    background-color: #db7882;
}

.contact {
    padding: 0px 10px;
    background: hsl(84, 26%, 96%);
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 5px 120px #0c0c0c;
}

.contact h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    margin-top: 0;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.contact-details {
    display: flex;
    font-size: 10px;
    font-family: 'Segoe UI', sans-serif;
    justify-content: center;
    text-align: center;
    color: teal;

}

.contact-details p {
    font-weight: bold;
    color: #0c0c0c;
    padding: 0 20px;
    margin: 0;
}

.contact-media {
    text-align: center;
    justify-content: center;
    font-size: 30px;
    padding: 10px 10px;
}

.back-top {
    display: inline-block;
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
    list-style: none;
    color: #e9bc96;
}

.back-top a {
    list-style: none;
    color: #0c0c0c;
    font-family: 'Segoe UI', sans-serif;
}



@media screen and (max-width: 768px) {
    .hero-section {
        flex-direction: column-reverse;
        width: 100%;
        padding: 30px 15px;
        text-align: center;
    }

    .hero-image img {
        width: 40%;
        height: auto;
    }

    .hero-section p {
        font-size: 20px;
        font-weight: bold;
        font-family: 'Segoe UI', sans-serif;
    }

    .media {
        text-align: center;
    }

    .about-container {
        flex-direction: column;
        text-align: center;
        padding: 0 10px;
    }

    .about-img img {
        width: 50%;
        max-width: 200px;
        height: auto;
        margin: auto;
    }

    .about h2 {
        font-size: 30px;
        font-weight: bold;
        margin: 0;
    }

    .about p {
        font-size: 12px;
        font-weight: bold;
        text-align: justify;
        font-family: 'Segoe UI', sans-serif;
    }

    .about li {
        font-size: 12px;
        text-align: left;
        font-weight: bold;
        font-family: 'Segoe UI', sans-serif;
    }

    /* SECTION */
    .skill {
        padding: 0 5pc;
        width: 100%;
    }

    .skill h2 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    /* LIST SKILL */
    .skill-list {
        width: 100%;
    }

    .skill-slider {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        gap: 25px;
    }

    /* CARD */
    .skill-slider>div {
        background: #ffffff;
        border-radius: 16px;
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
        transition: 0.3s ease;
    }

    .skill-slider>div:hover {
        transform: translateY(-6px);
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15);
    }

    /* ICON */
    .skill-slider i {
        font-size: 50px;
        margin-bottom: 10px;
    }

    /* TEXT */
    .skill-slider p {
        font-weight: 600;
        font-size: 16px;
        color: #333;
    }

    /* ICON COLORS */
    .skill-html i {
        color: #f57044;
    }

    .skill-css i {
        color: #264de4;
        font-size: 55px;
    }

    .skill-java i {
        color: #f89820;
        font-size: 55px;
    }

    .skill-python i {
        color: #3776ab;
        font-size: 55px;
    }

    .skill-3D i {
        color: #ff7f50;
    }

    .skill-sql i {
        color: #50a5ff;
    }

    .skill-java i.fa-laravel {
        color: #ff2d20;
    }

    .certificate {
        padding: 20px;
        text-align: center;
    }

    .certificate h2 {
        font-size: 22px;
    }

    .certificate-item p {
        font-size: 13px;
    }
}


.projek h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.projek p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.projek-img img {
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 10px;
}

.download {
    margin: 20px auto;
    justify-content: center;
}

.contact-media h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.contact-details p,
i {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

.contact-details {
    flex-direction: column;
    padding: 0 10px;
}

.back-top {
    font-size: 10px;
}


@media screen and (max-width: 1440px) {

    /* SECTION */
    .skill {
        padding: 0 5pc;
        width: 100%;
    }

    .skill h2 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    /* LIST SKILL */
    .skill-list {
        width: 100%;
    }

    .skill-slider {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        gap: 25px;
    }

    /* CARD */
    .skill-slider>div {
        background: #ffffff;
        border-radius: 16px;
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
        transition: 0.3s ease;
    }

    .skill-slider>div:hover {
        transform: translateY(-6px);
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15);
    }

    /* ICON */
    .skill-slider i {
        font-size: 50px;
        margin-bottom: 10px;
    }

    /* TEXT */
    .skill-slider p {
        font-weight: 600;
        font-size: 16px;
        color: #333;
    }

    /* ICON COLORS */
    .skill-html i {
        color: #f57044;
    }

    .skill-css i {
        color: #264de4;
        font-size: 55px;
    }

    .skill-java i {
        color: #f89820;
        font-size: 55px;
    }

    .skill-python i {
        color: #3776ab;
        font-size: 55px;
    }

    .skill-3D i {
        color: #ff7f50;
    }

    .skill-sql i {
        color: #50a5ff;
    }

    .skill-java i.fa-laravel {
        color: #ff2d20;
    }
}
